:root {
  --silver: #c2c1c2;
  --burgundy: #42213d;
  --periwinkle: #6969B3;
  --offwhite: #F7F4Ea;
  --apricot:#F0B67F;
  --rocksalt: 'Rock Salt', cursive;
  --lato: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


